[submodule "open/config"]
	path = open/config
	url = git@github.com:HUNTERCAT-DIGITAL/lieshou-contract-config.git
[submodule "open/api-client"]
	path = open/api-client
	url = git@github.com:HUNTERCAT-DIGITAL/lieshou-contract-api.git
[submodule "open/types"]
	path = open/types
	url = git@github.com:HUNTERCAT-DIGITAL/lieshou-contract-types.git
