[submodule "open/config"]
	path = open/config
	url = git@github.com:HUNTERCAT-DIGITAL/LieShouCloud-config.git
[submodule "open/api-client"]
	path = open/api-client
	url = git@github.com:HUNTERCAT-DIGITAL/LieShouCloud-api-client.git
[submodule "open/types"]
	path = open/types
	url = git@github.com:HUNTERCAT-DIGITAL/LieShouCloud-types.git
